[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "catmap"]
	path = catmap
	url = https://github.com/tpq/catmap
	shallow = true
	registered = true
[submodule "peakRAM"]
	path = peakRAM
	url = https://github.com/tpq/peakram
	shallow = true
	registered = true
[submodule "propr"]
	path = propr
	url = https://github.com/tpq/propr
	shallow = true
	registered = true
